/* 
    RESET
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
a{
    text-decoration: none;
}

/* 
    VARIABLES
*/

:root{
    --color-blue: #29bcd4;
    --color-yellow: #e0da2b;
    --color-green: #7ef162;
    --color-grey-dark: #2e2e2e;
    --color-grey: #808080;
    --color-grey-light:#e6e4e4;
    --color-purple: #bf3081;
    --color-link: #1118d6;
    --color-icon: rgb(150,162,164);
    --padding-vertical: 12rem;
    --padding-vertical--small: 6rem;
    --padding-horizontal: 7.3rem;
    --padding-horizontal--small: 3rem;
}

/* 
    FONT-FAMILY
*/

@font-face {
    font-family: 'Seguibl';
    src: url('../font/seguibl.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('../font/seguibl.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'Segui';
    src: url('../font/SEGOEUI.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'Seguisb';
    src: url('../font/SegoeUI-SemiBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'Seguil';
    src: url('../font/SegoeUI-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* 
    BASE
*/


html{
    font-size: 62.5%; /* 1rem = 10px; 10px/16px=62.5% */
}

/* 
    TYPOGRAPHY
*/

h1{
    color: #fff;
    font-size: 5.7rem;
    line-height: 7rem;
    font-family: 'Seguil', sans-serif;
    font-weight: 900;
    margin-bottom: 0rem;
}

h2{
    font-size: 5rem;
    line-height: 7.1rem;
    font-family: "Seguibl";
    margin-bottom: 5.7rem;
    text-align: center;
}

p{
    color: #000000;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Segui', sans-serif;
    line-height: 3.5rem;
}

p.paragraph--bold{
    font-weight: 600;
}

a{
    color: var(--color-link);
}

/* 
    BUTTON
*/

.button{
    display: flex;
    align-items: center;
    background-color: var(--color-purple);
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    border-radius: 100px;
    padding: 24px 0;
    width: 33rem;
    outline: none;
    transition: all .2s;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
    border: none;
}

.button:hover{
    cursor: pointer;
    transform: translateY(-3px);
}

.button:focus{
    transform: translateY(0);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}

/* FORM */

form{
    display: flex;
    flex-direction: column;
}

input, textarea{
    background-color: var(--color-grey-light);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2.5rem;
    padding: 2.4rem 0 2.1rem 2.4rem;
    outline: none;
    border: none;
}

input::placeholder, textarea::placeholder{
    font-size: inherit;
}

input:not(:last-child){
    margin-right: 7.5rem;
}

input{
    border-bottom: 3px solid transparent;
}

input.invalid{
    transition: all 1s;
    border-bottom: 3px solid var(--color-purple);
}

textarea{
    height: 29.4rem;
    margin-bottom: 6rem;
    resize: none;
}

/* 
    navigation
*/
ul{
    display: flex;
}

ul li{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .8rem 0;
    width: 10rem;
    list-style: none;
    display: flex;
    transition: all .2s;
}

ul li:not(:first-child){
    margin-left: 1.8rem;
}

ul li:last-child{
    margin-left: 3.8rem;
}

ul li.active{
    background: var(--color-blue);
    border-radius: 5px;
}

ul li a{
    color: #fff;
    font-size: 2rem;
    font-family: 'Segui', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

ul li:hover{
    cursor: pointer;
    opacity: .9;
    transform: translateY(-2px);
}


/* 
    #main 
*/

.main{
    display: flex;
    background: var(--color-grey-dark);
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.main__cta{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.main__cta h1:first-child{
    margin-bottom:1rem;
}

.main__text{
    color: #fff;
    font-weight: 600;
}   

/* 
    sections & articles & footer
*/

section{
    display: flex;
    flex-direction: column;
}

/* 
    SECTION .    
*/



/* 
    Header
*/

header.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    margin-bottom: 15rem;
}

.logo{
    margin-right: auto;
}

/* 
    SECTION information
*/


/* 
    SECTION projects
*/

/* 
    SECTION cta
*/

/*
    FOOTER
*/





/* Animation */

.text-animation{
    margin-bottom: 4.8rem;
    height: 100px;
    overflow: hidden;
}

.text-animation__transform{
    height: 100px;
    animation: 5s infinite textanimation;
    white-space: nowrap;
    display: inline-block;
}

.text-animation h1{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    box-sizing: border-box;
}

.text-animation__item--1{
    background: var(--color-yellow);
}

.text-animation__item--2{
    background: var(--color-blue);
}

.text-animation__item--3{
    background: var(--color-green);
}

@media only screen and (max-width: 62.5em){ /* 1000px */
    h1{
        font-size: 80px;
        line-height: 100px;
    }
}

@media only screen and (max-width: 37.5em){ /* 600px */
    h1{
        font-size: 60px !important;
        line-height: 80px !important;
    }

    .text-animation{
        margin-bottom: 4.8rem;
        height: 80px;
    }
    
    .text-animation__transform{
        height: 80px;
        animation: 5s infinite textanimationMobile;
        white-space: nowrap;
    }
}

@keyframes textanimation{
    0%{
        transform: translateY(-210px);
    }

    5%{
        transform: translateY(-100px);
    }

    33%{
        transform: translateY(-100px);
    }

    38%{
        transform: translateY(0);
    }

    66%{
        transform: translateY(0);
    }

    71%{
        transform: translateY(-210px);
    }

    99.99%{
        transform: translateY(-210px);
    }

    100%{
        transform: translateY(-210px);
    }
}

@keyframes textanimationMobile{
    0%{
        transform: translateY(-160px);
    }

    5%{
        transform: translateY(-80px);
    }

    33%{
        transform: translateY(-80px);
    }

    38%{
        transform: translateY(0);
    }

    66%{
        transform: translateY(0);
    }

    71%{
        transform: translateY(-160px);
    }

    99.99%{
        transform: translateY(-160px);
    }

    100%{
        transform: translateY(-160px);
    }
}