/* 
    RESET
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
a{
    text-decoration: none;
}

/* 
    VARIABLES
*/

:root{
    --color-blue: #29bcd4;
    --color-yellow: #e0da2b;
    --color-green: #7ef162;
    --color-grey-dark-1: #a2a2a2;
    --color-grey-dark: #2e2e2e;
    --color-grey: #808080;
    --color-grey-light-1: #ececec;
    --color-grey-light:#e6e4e4;
    --color-purple: #bf3081;
    --color-link: #1118d6;
    --color-icon: rgb(150,162,164);
    --padding-vertical: 12rem;
    --padding-vertical--small: 6rem;
    --padding-horizontal: 7.3rem;
    --padding-horizontal--small: 3rem;
}

/* 
    FONT-FAMILY
*/

@font-face {
    font-family: 'Seguibl';
    src: url('../font/seguibl.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('../font/seguibl.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'Segui';
    src: url('../font/SEGOEUI.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'Seguisb';
    src: url('../font/SegoeUI-SemiBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'Seguil';
    src: url('../font/SegoeUI-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* 
    BASE
*/


html{
    font-size: 62.5%; /* 1rem = 10px; 10px/16px=62.5% */
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* 
    TYPOGRAPHY
*/

h1{
    color: #fff;
    font-size: 5.7rem;
    line-height: 7rem;
    font-family: 'Segui', sans-serif;
    font-weight: 900;
    margin-bottom: 0rem;
}

h2{
    font-size: 5rem;
    line-height: 7.1rem;
    font-family: "Segui", sans-serif;
    margin-bottom: 5.7rem;
    text-align: center;
}

h3{
    font-size: 10rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: "Seguibl", sans-serif;
}

h4{
    font-size: 4rem;
    font-weight: 700;
    font-family: "Seguisb", sans-serif;
    margin-bottom: 2rem;
}

p{
    color: #000000;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Segui', sans-serif;
    line-height: 3.5rem;
}

p.paragraph--bold{
    font-weight: 600;
}

a{
    color: var(--color-link);
}

/* 
    BUTTON
*/

.button{
    display: flex;
    align-items: center;
    background-color: var(--color-blue);
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    border-radius: 5px;
    height: 7rem;
    width: 33rem;
    outline: none;
    transition: all .2s;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
    border: none;
}

.button:hover{
    cursor: pointer;
    transform: translateY(-3px);
}

.button:focus{
    transform: translateY(0);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}

/* FORM */

form{
    display: flex;
    flex-direction: column;
}

input, textarea{
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255,255,255, .6);
    color: #fff;
    padding: 1rem 0;
    height: 5.6rem;
    font-size: 2rem;
    outline: none;
    flex: 1;
}

input::placeholder,
textarea::placeholder{
    color: #fff;
    font-size: inherit;
}

input::placeholder, textarea::placeholder{
    font-size: inherit; 
}

input:not(:last-child){
    margin-right: 7rem;
}

input{
    border-bottom: 2px solid rgba(255,255,255, .6);
}

input.invalid{
    transition: all 1s;
    border-bottom: 2px solid var(--color-purple);
}

textarea{
    height: 6rem;
    margin-bottom: 6rem;
    resize: none;
}

/* 
    NAVIGATION
*/

ul{
    display: flex;
}

ul li{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .8rem 0;
    width: 10rem;
    list-style: none;
    display: flex;
    transition: all .2s;
}

ul li:not(:first-child){
    margin-left: 1.8rem;
}

ul li:last-child{
    margin-left: 3.8rem;
}

ul li.active{
    background: var(--color-blue);
    border-radius: 5px;
}

ul li a{
    color: #fff;
    font-size: 2rem;
    font-family: 'Segui', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

ul li:hover{
    cursor: pointer;
    opacity: .9;
    transform: translateY(-2px);
}


/* 
    #main 
*/

.main{
    display: flex;
    background: var(--color-grey-dark);
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.main__cta{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.main__cta h1:first-child{
    margin-bottom:1rem;
}

.main__text{
    color: #fff;
    font-weight: 600;
}   

/* 
    sections & articles & footer
*/

section{
    display: flex;
    flex-direction: column;
}

/* 
    SECTION .    
*/



/* 
    Header
*/

header.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    margin-bottom: 15rem;
}

.logo{
    margin-right: auto;
}

/* 
    SECTION information
*/

.information{
    display: flex;
    flex-direction: row;
}

.information__picture img{
    height: auto;
    width: 100%;
}

.information__picture,
.information__text{
    display: flex;
    flex: 1 0 50%;
}

.information__text{
    flex-direction: column;
    padding: 6rem 4.5rem;
}

.information__text p:not(:last-child){
    margin-bottom: 3rem;
}


/* 
    SECTION projects
*/

.projects{
    background: var(--color-grey-light-1);
    padding: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects__item{
    display: flex;
    font-family: "Seguisb", sans-serif;
}

.projects__image{
    margin-right: 15rem;
}

.projects__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects__heading{
    margin-bottom: 8rem;
}

.projects__heading p{
    font-family: inherit;
}

.projects__item a{
    color: var(--color-blue);
    font-family: inherit;
    text-decoration: underline;
    transition: all .2s;
    font-size: 2.2rem;
}

.projects__item a:hover{
    cursor: pointer;
    text-decoration: none;
}

/* 
    SECTION cta
*/

.cta{
    background: var(--color-grey-dark);
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9rem 0;
    padding-bottom: 19rem;
}

.contact-us{
    width: 66%;
}

.contact-us__user{
    display: flex;
    margin-bottom: 5rem;
}

.contact-us__buttons-area{
    margin: 0 auto;
}

.contact-us__button{
    line-height: 3.6rem;
    background-image: linear-gradient(120deg, var(--color-green), var(--color-green) 50%, transparent 0% 50%);
    background-size: 220%;
    background-position: 100%;
    transform-origin: left;
}

.contact-us__button--success{
    box-shadow: none;
    transition: all 2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    background-position: 0%;
}


.contact-us__button--success:hover, .contact-us__button--success:focus{
    transform: none;
    box-shadow: none;
}


/*
    FOOTER
*/

.footer{
    background: var(--color-grey-dark);
    display: flex;
    justify-content: space-between;
    padding: 0 3rem 2.5rem;
}

.footer p{
    color: var(--color-grey-dark-1);
}

/* .footer__socials--svg */

.footer__socials svg{
    width: 4rem;
    height: 4rem;
    fill: var(--color-icon);
    transition: transform .2s;
}

.footer__socials a svg:hover{
    transform: translateY(-.2rem);
}

.footer__socials img{
    width: 60px;
    height: 48px;
}

.footer__socials a:not(:last-child){
    margin-right: 3rem;
}

.footer__socials--letter svg{
    transform: scale(1.4) !important;
}

.footer__socials--letter svg:hover{
    transform: scale(1.4) translateY(-.2rem)  !important;
}

/* MOBILE */

@media only screen and (max-width: 90em){ /* 1440px */
    html{   
        font-size: 50%; /* 1rem = 8px, 8/16=50% */
    }
}

@media only screen and (max-width: 53.15em){ /* 850px */
    html{
        font-size: 50%; /* 1rem=8px, 8/16=50% */
    }

    h3{
        font-size: 7rem;
    }

    .projects__image {
        margin-right: 2rem;
    }
}


@media only screen and (max-width: 45em){ /* 720px */
    .information{
        flex-direction: column;
    }
}

@media only screen and (max-width: 37.5em){ /* 600px */
    html{
        font-size: 37.5%; /* 1rem=6px, 6/16=37.5% */
    }

    h1{
        font-size: 5.7rem !important;
        line-height: 7rem !important;
    }

    .information__picture{
        flex-basis: 40rem;
        height: 40rem;
    }

    .projects{
        padding: 6rem;
    }

    .projects__item{
        flex-direction: column;
        text-align: center;
    }

    .projects__image{
        height: 35rem;
    }

    .projects__image img{
        height: 100%;
    }

    .contact-us{
        width: 80%;
    }
}

@media only screen and (max-width: 28.125em){ /* 450px */
    .header{
        padding: 2rem 1rem;
    }

    p{
        font-size: 3rem;
        line-height: 4rem;
    }

    .contact-us__user{
        flex-direction: column;
    }

    .contact-us__user input:not(:last-child){
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .footer{
        flex-direction: column;
        text-align: center;
    }

    .footer__socials{
        margin-top: 1.5rem;
    }
}

@media only screen and (min-width: 112.5em ) and (min-height: 62.5em){ /* 1800px & 1000px height*/
    html{
        font-size: 100%;  /* 1rem = 12px, 12/16=75% */
    }

    .text-animation h1 {
        height: 13rem !important;
    }

    .text-animation span {
        margin-top: -8rem !important;
    }

}

/* ANIMATION */

.text-animation{
    margin-bottom: 4.8rem;
    /* height: 100px; */
    min-height: 100px;
    overflow: hidden;
}

.text-animation__transform{
    /* animation: 5s infinite textanimation; */
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--color-yellow);
}

.text-animation h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
    box-sizing: border-box;
}
