/*
    $breakpoint argument choices:
        - phone
        - tab-port
        - tab-land
        - big-desktop
1m = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  text-decoration: none; }

li {
  list-style: none; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.wrapper {
  width: 140rem;
  margin: 0 auto; }

body {
  background-color: #e3f0f0;
  box-sizing: border-box;
  font-family: "Filson Pro", sans-serif;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.42; }

.heading-primary {
  color: #3e3c43;
  font-size: 6.7rem;
  font-weight: 300;
  margin-bottom: 1.5rem; }
  .heading-primary__sub {
    color: #8c8d91;
    font-size: 2.1rem;
    font-family: "Muli";
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 3.5rem; }

.heading-secondary {
  color: #f8f9a8;
  font-size: 5.8rem;
  font-weight: 300; }
  .heading-secondary__sub {
    color: rgba(255, 255, 255, 0.5);
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 3.3rem; }

.heading-tertiary {
  font-size: 4.2rem;
  font-weight: 400; }

.heading-quaternary {
  color: #7f63bd;
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 0.5rem; }

.paragraph {
  font-size: inherit; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-medium {
  margin-bottom: 3.5rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn, .btn:link, .btn:visited {
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #fe6b72;
  display: inline-block;
  padding: 1.5rem 8.4rem;
  font-size: 2.3rem;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  outline: none;
  trasnform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.form__input {
  border: none;
  border-bottom: 3px solid transparent;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  color: inherit;
  display: block;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  font-family: inherit;
  width: 90%;
  transition: all .9s; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  padding: 0 15rem; }

.logo {
  text-transform: uppercase;
  letter-spacing: .36px;
  font-weight: 300; }

.navigation__list {
  display: flex; }

.navigation__item {
  padding: 0 2rem; }

.navigation__link::after, .navigation__link::before {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s; }

.navigation__link::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px); }

.navigation__link::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px); }

.navigation__link:hover::after, .navigation__link:hover::before {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px); }

.main {
  display: flex;
  padding-left: 15rem;
  align-items: center;
  height: 90vh;
  margin-bottom: 11rem; }
  .main__cta {
    flex: 1; }
  .main__img {
    flex: 1;
    margin-right: -5rem; }
    .main__img img {
      width: 100%;
      height: auto; }

.list {
  display: flex;
  justify-content: space-around;
  padding: 0 15rem; }
  .list__item {
    flex: 1; }
    .list__item:not(:last-child) {
      margin-right: 9rem; }
    .list__item p {
      color: #8c8d91; }

.top-list {
  margin-bottom: 6.8rem; }

.how-it-works {
  display: flex;
  padding-right: 15rem;
  padding-top: 10rem;
  padding-bottom: 14rem; }
  .how-it-works__img {
    flex: 1;
    margin: -12rem 13rem 0 -5rem; }
    .how-it-works__img img {
      width: 100%; }
  .how-it-works__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: center; }
  .how-it-works__list {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.8rem 6.5rem 2.4rem 2.7rem; }
  .how-it-works__item:not(:last-child) {
    margin-bottom: 2.4rem; }
  .how-it-works__item .heading-quaternary {
    position: relative; }
  .how-it-works__item .heading-quaternary::before {
    content: "";
    border-left: 1px solid #7f63bd;
    height: 2px;
    width: 2.2rem;
    background-color: #7f63bd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -4rem; }
  .how-it-works__item .paragraph {
    color: #8c8d91;
    margin-bottom: -.5rem; }
