/*
    COLORS
*/
/*
    SHADOWS
*/
/*
    BreakPoints
*/
* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.btn {
  border: none;
  outline: none; }
  .btn:hover {
    cursor: pointer; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh; }

h1 {
  color: #ffffff;
  font-size: 2.9rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem; }

h3 {
  color: #000;
  font-size: 2.3rem;
  font-weight: 600; }

h4 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #ffa328;
  text-transform: uppercase; }

h5 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem; }

p, p.paragraph {
  font-size: 1.6rem;
  letter-spacing: 1.1px; }

li {
  font-weight: 500;
  list-style: none;
  font-size: 1.4rem; }

a {
  text-decoration: none;
  outline: none; }

video {
  height: 30rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  outline: none; }

section img {
  width: 100%;
  height: auto; }

section:not(:last-child) {
  margin-bottom: 8rem; }

.logo {
  height: 8.5rem;
  margin-right: auto; }

.btn {
  color: #ffffff;
  padding: 1.2rem;
  background-color: transparent;
  border-radius: 5px;
  font-size: 1.6rem;
  transition: all .2s;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
  .btn:not(:last-child) {
    margin-right: 2rem; }
  .btn-white {
    border: 1px solid #ffffff; }
    .btn-white:hover {
      background-color: #ffffff;
      color: #120bb0;
      box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.05); }
  .btn-blue {
    background-color: #120bb0; }
  .btn-orange {
    padding: 2rem;
    font-weight: 600;
    background-color: #ffa328;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    transition: all .2s; }
    .btn-orange:hover {
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }
    .btn-orange:focus {
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }
  .btn-signup:hover, .btn-login:hover {
    transform: none !important; }
  .btn:hover {
    transform: translateY(-2px); }
  .btn:focus {
    transform: translateY(0); }

.card {
  position: relative;
  padding: .5rem 0 .5rem 1.5rem;
  border-left: 0.2rem solid #938ff8;
  font-family: inherit;
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 300;
  letter-spacing: 1.2px;
  background-color: #F8F8F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all .4s; }
  .card:not(:last-child) {
    margin-bottom: 3rem; }
  .card:nth-child(3) {
    margin-left: 2rem;
    margin-right: -2rem; }
  .card:hover {
    transform: translateX(4px);
    cursor: pointer; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.1);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.form__input {
  border: none;
  border-bottom: 3px solid transparent;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 5px;
  color: #edf9fe;
  display: block;
  padding: 1rem 4rem 1rem 1rem;
  font-size: 1.5rem;
  font-family: inherit;
  width: 100%;
  transition: all .9s; }
  .form__input::-webkit-input-placeholder {
    color: #E0E0E0; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #00FF00;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ffa328; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      width: 100%;
      max-width: 100%; } }

.header {
  min-height: 70rem;
  background-image: url(../images/banner.png);
  background-size: 100% 100%;
  padding: 3rem 8rem;
  display: flex;
  flex-direction: column; }
  .header__top {
    display: flex; }
  .header__information {
    display: flex;
    padding: 6rem 0;
    color: #ffffff;
    align-items: center; }
    .header__information > * {
      flex: 1; }
  .header__text {
    margin-right: 8rem; }
    .header__text .paragraph {
      margin-bottom: 2rem; }
    .header__text .btn {
      text-transform: uppercase; }
  .header__video-container {
    overflow: hidden;
    border-radius: 50px; }

.section-win {
  display: flex;
  align-items: center;
  margin: 8rem auto;
  max-width: 120rem; }
  .section-win > * {
    flex: 1; }
  .section-win__image {
    margin-right: 8rem; }
  .section-win__heading {
    margin-bottom: 2rem; }
  .section-win__paragraph {
    margin-bottom: 2rem; }
  .section-win__list:not(:last-child) {
    margin-bottom: 2rem; }
  .section-win__list li {
    list-style-type: disc;
    margin-left: 2rem;
    margin-bottom: 1rem; }
  .section-win__btn {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.08); }
    .section-win__btn:hover {
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.08); }
    .section-win__btn:focus {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05); }

.section-boss {
  display: flex;
  margin: 8rem auto;
  max-width: 120rem; }
  .section-boss > * {
    flex: 1; }
  .section-boss__text {
    margin-right: 8rem; }
  .section-boss__heading {
    margin-bottom: 2rem; }

.section-pain__wrapper {
  background-image: url(../images/curveImage.png);
  background-size: 100% 100%;
  padding: 20rem 0 10rem 0; }

.section-pain {
  display: flex;
  margin: 8rem auto;
  max-width: 120rem; }
  .section-pain > * {
    flex: 1; }
  .section-pain img {
    width: 80%; }
  .section-pain h3, .section-pain p.paragraph {
    color: #ffffff; }
  .section-pain__heading {
    margin-bottom: 2rem; }
  .section-pain p.paragraph {
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    line-height: 2.5rem;
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.5); }
  .section-pain p.paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.section-grid {
  display: flex;
  padding: 0 2rem 5rem 8rem;
  align-items: center; }
  .section-grid > * {
    flex: 1; }
  .section-grid__text {
    padding-left: 8rem;
    margin-right: 8rem;
    position: relative;
    z-index: 10000; }
    .section-grid__text::before {
      content: "";
      background-image: url(../images/dottedleft.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: absolute;
      z-index: -1;
      left: -5rem;
      top: 1rem;
      width: 100px;
      height: 100%; }
  .section-grid__heading {
    margin-bottom: 2rem; }

.section-family {
  padding: 0 0 8rem 0;
  display: flex;
  justify-content: center; }
  .section-family__banner {
    background-color: #edf9fe;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 70%;
    padding: 2rem 6rem 4rem 6rem;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .section-family__image {
    margin-bottom: 2rem; }
    .section-family__image img {
      width: 60%;
      height: auto; }
  .section-family__heading {
    margin-bottom: 2rem; }
  .section-family__text {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem; }
  .section-family__button button {
    padding: 1.2rem 3rem;
    text-transform: uppercase;
    transition: all .2s;
    animation: pulsate 2s infinite; }

.footer {
  background-image: url(../images/footer.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 19rem 5rem 0 0;
  height: 58rem;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .footer__wrapper, .footer__copyright {
    display: flex;
    width: 60%;
    margin: 0 auto; }
  .footer__wrapper {
    padding-top: 8rem;
    margin-top: 8rem;
    margin-bottom: 4rem; }
  .footer__logo {
    margin-right: auto;
    margin-top: -10rem; }
    .footer__logo img {
      width: 70%; }
  .footer__heading {
    font-size: 2.2rem;
    color: #ffffff; }
  .footer__navigation {
    margin-right: 8rem; }
  .footer__menu a {
    font-size: 1.4rem;
    color: #E0E0E0;
    line-height: 2.8rem;
    transition: color .2s; }
    .footer__menu a:hover {
      color: #fff; }
  .footer__updates p {
    font-size: 1.4rem;
    color: #E0E0E0;
    margin-bottom: 1.5rem; }
  .footer__copyright {
    display: flex;
    width: 60%;
    height: 10rem;
    margin: 0 auto;
    border-top: 1px solid rgba(135, 206, 250, 0.2);
    font-size: 1.2rem;
    padding-top: .5rem; }
    .footer__copyright-text {
      color: #E0E0E0;
      line-height: 2.8rem;
      margin-right: auto; }
    .footer__copyright a:not(:last-child) {
      margin-right: 2rem; }
