/** Usage:
  @include breakpoint(tablet) {}
  @include breakpoint(min-width, 1192px) {}
  @include between-breakpoints(0, 1024px) {}
  **/
/* START OF COLORS */
/* END OF COLORS*/
/* START OF GUTTERS */
/* start of reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

span {
  display: inline-block; }

*,
*::after,
*::before {
  box-sizing: border-box; }

/* end of reset */
html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 424px) {
    html {
      font-size: 56.25%; } }

/*
    Initializing Fonts
*/
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-MediumItalic.eot");
  src: local("Brandon Grotesque Medium Italic"), local("BrandonGrotesque-MediumItalic"), url("../fonts/BrandonGrotesque-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-MediumItalic.woff") format("woff"), url("../fonts/BrandonGrotesque-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-Bold.eot");
  src: local("Brandon Grotesque Bold"), local("BrandonGrotesque-Bold"), url("../fonts/BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Bold.woff") format("woff"), url("../fonts/BrandonGrotesque-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-Light.eot");
  src: local("Brandon Grotesque Light"), local("BrandonGrotesque-Light"), url("../fonts/BrandonGrotesque-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Light.woff") format("woff"), url("../fonts/BrandonGrotesque-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-Black.eot");
  src: local("Brandon Grotesque Black"), local("BrandonGrotesque-Black"), url("../fonts/BrandonGrotesque-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Black.woff") format("woff"), url("../fonts/BrandonGrotesque-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-Medium.eot");
  src: local("Brandon Grotesque Medium"), local("BrandonGrotesque-Medium"), url("../fonts/BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Medium.woff") format("woff"), url("../fonts/BrandonGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-ThinItalic.eot");
  src: local("Brandon Grotesque Thin Italic"), local("BrandonGrotesque-ThinItalic"), url("../fonts/BrandonGrotesque-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-ThinItalic.woff") format("woff"), url("../fonts/BrandonGrotesque-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-Thin.eot");
  src: local("Brandon Grotesque Thin"), local("BrandonGrotesque-Thin"), url("../fonts/BrandonGrotesque-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Thin.woff") format("woff"), url("../fonts/BrandonGrotesque-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-LightItalic.eot");
  src: local("../fonts/Brandon Grotesque Light Italic"), local("BrandonGrotesque-LightItalic"), url("../fonts/BrandonGrotesque-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-LightItalic.woff") format("woff"), url("../fonts/BrandonGrotesque-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-Regular.eot");
  src: local("Brandon Grotesque Regular"), local("BrandonGrotesque-Regular"), url("../fonts/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-Regular.woff") format("woff"), url("../fonts/BrandonGrotesque-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-RegularItalic.eot");
  src: local("Brandon Grotesque Regular Italic"), local("BrandonGrotesque-RegularItalic"), url("../fonts/BrandonGrotesque-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-RegularItalic.woff") format("woff"), url("../fonts/BrandonGrotesque-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-BoldItalic.eot");
  src: local("Brandon Grotesque Bold Italic"), local("BrandonGrotesque-BoldItalic"), url("../fonts/BrandonGrotesque-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-BoldItalic.woff") format("woff"), url("../fonts/BrandonGrotesque-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/BrandonGrotesque-BlackItalic.eot");
  src: local("Brandon Grotesque Black Italic"), local("BrandonGrotesque-BlackItalic"), url("../fonts/BrandonGrotesque-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BrandonGrotesque-BlackItalic.woff") format("woff"), url("../fonts/BrandonGrotesque-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

/* End of font Initialization fonts*/
/* Same Paddings on the page */
header, main, footer, section {
  padding: 0 3rem; }

@media (min-width: 1280px) {
  section {
    padding: 12rem 12rem; } }

@media (min-width: 1439px) {
  section {
    padding: 14.16rem 15rem; } }

/* Useful things */
.invert {
  transition: all .4s;
  filter: invert(1) brightness(150%); }

/* HEADINGS */
h1 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  line-height: 3.6rem; }

h1, h2 {
  font-size: 3.6rem;
  line-height: 4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: normal; }

h2 {
  margin-bottom: 2.2rem; }

h3 {
  font-size: 3rem;
  line-height: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: normal; }

h4 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal; }

h5 {
  font-size: 1.4rem;
  line-height: 2.17rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal; }

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal; }

/* LINKS */
a {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.2rem;
  display: inline-block;
  outline: none; }
  a:hover {
    cursor: pointer; }

@media (min-width: 1439px) {
  .cta-wrapper {
    margin-top: 6rem !important; } }

.cta__link {
  color: #f61933;
  display: flex;
  align-items: center;
  text-transform: uppercase; }
  .cta__link span {
    width: 5rem;
    height: 1.6rem;
    background: #f61933;
    margin-right: 2.8%; }

/* BUTTONS */
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none; }

/* FORM + INPUT */
form {
  width: 27rem; }
  form input {
    background: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    width: 90%;
    font-size: 1.4rem;
    margin-right: -3.25rem;
    transition: all .4s; }
    form input, form input::placeholder {
      color: white;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-style: normal; }
  form button {
    transition: all .4s; }
    form button span {
      color: white;
      font-size: 1.3rem; }
  form input:hover {
    width: 100%; }
  form input:hover ~ button {
    transform: rotate(-180deg); }

/* MEDIA QUERIES */
@media (min-width: 1280px) {
  h1, h2 {
    font-size: 4.8rem;
    line-height: 4.9rem; }
  h3 {
    font-size: 4.8rem;
    line-height: 4.9rem; }
  h4 {
    margin-bottom: 1.8rem; }
  h5 {
    font-size: 1.6rem;
    line-height: 2.4rem; }
  p {
    font-size: 1.6rem;
    line-height: 2.6rem; }
  a {
    font-size: 1.6rem; } }

@media (min-width: 320px) {
  .navigation__desktop {
    display: none; }
    .navigation__desktop li:not(:last-child) {
      margin-right: 5.8rem; } }
  @media (min-width: 320px) and (min-width: 1280px) {
    .navigation__desktop {
      display: flex;
      align-items: center;
      justify-content: center; } }

@media (min-width: 320px) {
    .navigation__desktop--item {
      text-transform: uppercase; }
      .navigation__desktop--item a {
        font-size: 1.2rem; } }

@media (min-width: 320px) and (min-width: 1280px) {
  .navigation__mobile {
    display: none; } }

@media (min-width: 320px) {
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: .6rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center; }
    .navigation__button:hover {
      cursor: pointer; }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 3.4rem;
    right: 2.5rem;
    background-image: radial-gradient(#f61933, #f61933);
    z-index: 1000;
    transition: transform 1.1s cubic-bezier(0.86, 0, 0.07, 1);
    transform: translateX(10rem) translateY(-7rem); }
  .navigation__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: 1.1s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    margin-top: 3rem; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 52%, white 50%);
    background-size: 240%;
    transition: all .4s; }
  .navigation__link:hover, .navigation__link:active {
    color: #2f3438;
    background-position: 100%;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80) translateX(0); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__checkbox:checked body {
    overflow: hidden; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon--middle, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: white;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after, .navigation__icon--middle {
      content: "";
      position: absolute;
      left: 0;
      transition: all .4s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      width: 1rem;
      top: .8rem;
      left: 2rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(-90deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon--middle {
    top: 0;
    left: -1rem;
    transform: rotate(-90deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: -1rem;
    transform: rotate(90deg); } }

@media (min-width: 320px) {
  .wwd-card {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 3rem;
    padding-bottom: 3.5rem;
    width: 100%;
    height: 36rem;
    background-size: cover !important; }
    .wwd-card__more {
      text-transform: uppercase; }
    .wwd-card--1 {
      background: url(../images/wwd-1.png) no-repeat center; }
    .wwd-card--2 {
      background: url(../images/wwd-2.png) no-repeat center; }
    .wwd-card--3 {
      background: url(../images/wwd-3.png) no-repeat center; }
    .wwd-card--4 {
      background: url(../images/wwd-4.png) no-repeat center; }
    .wwd-card--5 {
      background: url(../images/wwd-5.png) no-repeat center; }
    .wwd-card--6 {
      background: url(../images/wwd-6.png) no-repeat center; }
    .wwd-card--7 {
      background: url(../images/wwd-7.png) no-repeat center; }
    .wwd-card--8 {
      background: url(../images/wwd-8.png) no-repeat center; }
    .wwd-card h3 {
      font-size: 2.4rem;
      line-height: 2.4rem; } }

@media (min-width: 1280px) {
  .wwd-card {
    min-height: 27.57rem;
    height: 100%; }
    .wwd-card--1 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2; }
    .wwd-card--2 {
      grid-column-start: 3;
      grid-row: 1/2; }
    .wwd-card--3 {
      grid-column-start: 3;
      grid-row: 2 / 3; }
    .wwd-card--4 {
      grid-column: 2 / 4;
      grid-row: 3 / 5; }
    .wwd-card--5 {
      grid-column: 1 / 2;
      grid-row: 4 / 6; }
    .wwd-card--6 {
      grid-column: 1 / 2;
      grid-row: 3 / 4; }
    .wwd-card--7 {
      grid-column: 2 / 3;
      grid-row-start: 5; }
    .wwd-card--8 {
      grid-column: 3 / 4;
      grid-row-start: 5; } }

@media (min-width: 1439px) {
  .wwd-card {
    padding: 4.4rem 3.57rem; }
    .wwd-card__info {
      width: 70%; }
      .wwd-card__info h3 {
        font-size: 3.6rem;
        line-height: 3.6rem; }
      .wwd-card__info p {
        word-break: break-all; } }

@media (min-width: 320px) {
  .case {
    color: white;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50.4rem;
    justify-content: space-between;
    padding: 3rem 3.33rem;
    padding-bottom: 3.86rem; }
    .case h3 {
      margin: 2.5rem 0; }
    .case h3, .case a {
      text-transform: uppercase; }
    .case:not(:last-of-type) {
      margin-bottom: 2rem; }
    .case:last-of-type {
      margin-bottom: 3.16rem; }
    .case--1 {
      background: url(../images/case1.png) no-repeat center; }
    .case--2 {
      background: url(../images/case2.png) no-repeat center; }
    .case--3 {
      background: url(../images/case3.png) no-repeat center; } }

@media (min-width: 1280px) {
  .case {
    height: 55.7rem;
    padding: 4rem 3.57rem;
    padding-bottom: 4.3rem; }
    .case h3 {
      font-size: 3.6rem;
      line-height: 3.6rem; }
    .case:last-of-type {
      margin-bottom: 2rem; } }

@media (min-width: 320px) {
  .cases {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(32rem, 1fr));
    grid-gap: 2rem;
    grid-row-gap: 0;
    flex-direction: column;
    align-items: center; } }

@media (min-width: 768px) {
  .cases {
    grid-template-columns: repeat(auto-fit, minmax(32%, 1fr)); } }

@media (min-width: 320px) {
  .desktop-top__icon {
    display: none; } }

@media (min-width: 1280px) {
  .desktop-top__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 14.7rem;
    height: 15.9rem;
    background: #f61933; } }

.social-icons {
  display: flex;
  margin: 4.4rem 27.2%;
  padding: 4.8rem 1rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  justify-content: center;
  align-items: center; }
  .social-icons a {
    display: inline-block; }
    .social-icons a:not(:last-child) {
      margin-right: 3rem; }
    .social-icons a svg {
      width: 2rem;
      height: 2rem;
      fill: white; }

.logo {
  display: flex;
  z-index: 9999; }
  .logo__img {
    margin-right: 0.5rem; }
    .logo__img path {
      fill: white; }
  .logo__alt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -3px; }
    .logo__alt span {
      font-family: 'Brandon Grotesque';
      font-weight: 300;
      font-style: normal;
      font-weight: 400;
      color: white;
      text-transform: uppercase;
      font-size: .7rem;
      line-height: 1rem; }
      .logo__alt span:nth-child(2) {
        font-weight: 900; }
      @media (min-width: 1024px) {
        .logo__alt span {
          line-height: .9rem; } }
    @media (min-width: 1024px) {
      .logo__alt {
        align-self: flex-start;
        margin-top: 0; } }

@media (min-width: 320px) {
  .quote {
    background: #2f3438;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 4.4rem 3rem; }
    .quote-text {
      margin-bottom: 2rem; }
    .quote-author h2 {
      margin-bottom: 1rem;
      text-transform: uppercase; } }

@media (min-width: 1280px) {
  .quote {
    align-items: center;
    flex-direction: row;
    padding-top: 9rem;
    padding-bottom: 9rem;
    justify-content: center; }
    .quote-text {
      margin-bottom: 0;
      margin-right: 8rem; }
    .quote-author h2 {
      white-space: nowrap; } }

@media (min-width: 1439px) {
  .quote {
    padding-left: 22rem !important;
    padding-right: 22rem !important; } }

@media (min-width: 320px) {
  .header {
    background: transparent;
    position: fixed;
    padding-top: 2.8rem;
    height: 8rem;
    width: 100%;
    z-index: 10;
    transition: all .8s; }
    .header .logo {
      position: fixed; }
    .header-black .logo__img path {
      fill: #2f3438; }
    .header-black .logo__alt span {
      color: #2f3438; }
    .header-black .navigation__icon::before, .header-black .navigation__icon--middle, .header-black .navigation__icon::after {
      background-color: #2f3438; } }

@media (min-width: 1280px) {
  .header {
    padding: 0 6rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between; }
    .header .logo {
      position: unset; }
    .header-black .navigation__desktop a {
      color: inherit; } }

@media (min-width: 1439px) {
  .header {
    padding: 0 8rem; } }

/* Main Slider */
@media (min-width: 320px) {
  .main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-top: 15.6rem; }
    .main__cta {
      color: white;
      margin: 4.4rem 0; }
      .main__cta span {
        background: white; }
    .main__arrow {
      font-size: 2.9rem;
      align-self: flex-end;
      position: absolute;
      bottom: 4rem; } }
  @media (min-width: 320px) and (min-width: 1280px) {
    .main {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../images/main-desktop.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding-left: 18%;
      padding-top: 0; }
      .main__info {
        width: 83%; }
      .main__cta {
        color: #f61933; }
        .main__cta span {
          background: #f61933; } }
  @media (min-width: 320px) and (min-width: 1439px) {
    .main {
      padding-left: 20.97%; } }

@media (min-width: 320px) {
  .team-members {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 35rem;
    margin-bottom: 3.3rem; }
  .team-member {
    background: url(../images/member-1.png) no-repeat center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem 3.17rem;
    padding-bottom: 3.14rem;
    width: 100%;
    height: auto; }
    .team-member__img, .team-member__hover--additional {
      display: none; }
    .team-member h3 {
      text-transform: uppercase; }
    .team-member h5 {
      margin-bottom: 1.7rem; }
  .team-pagination {
    padding: 0 1rem; }
    .team-pagination .swiper-pagination-bullet {
      outline: none; }
      .team-pagination .swiper-pagination-bullet-active {
        background: #767778; }
      .team-pagination .swiper-pagination-bullet:not(:last-child) {
        margin-right: 2.3rem; } }

@media (min-width: 768px) {
  .team-members {
    height: 50rem; } }

@media (min-width: 1280px) {
  .team-members {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: unset;
    width: 100%;
    height: auto;
    margin-bottom: 7.76rem; }
  .team-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(37rem, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
    width: 100%; }
  .team-member {
    overflow: hidden;
    transition: all 1s ease;
    background: none; }
    .team-member__img {
      display: block; }
      .team-member__img img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: all .9s; }
    .team-member__hover {
      transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transform: translateY(14.6rem);
      width: 90%; }
      .team-member__hover--additional {
        display: block;
        transform: translateY(7rem);
        transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
        opacity: 0; }
        .team-member__hover--additional p {
          margin-top: 1.21rem; }
    .team-member__more {
      text-transform: uppercase;
      margin-top: 5.42rem; }
  .team-member:hover .team-member__img img {
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8); }
  .team-member:hover .team-member__hover {
    transform: translateY(0); }
  .team-member:hover .team-member__hover--additional {
    transform: translateY(0);
    opacity: 1; } }

@media (min-width: 1439px) {
  .team-member h3 {
    font-size: 3.6rem;
    line-height: 3.6rem; } }

@media (min-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #f61933;
    padding-top: 4.1rem;
    padding-bottom: 3.7rem; }
    .footer .logo {
      margin-bottom: 4.27rem;
      z-index: unset; }
    .footer .social-icons {
      padding: 0;
      margin: 4.4rem 0;
      border: none;
      align-self: flex-start; }
      .footer .social-icons a:not(:last-child) {
        margin-right: 2rem; }
    .footer .desktop__logo .social-icons {
      display: none; }
    .footer__info {
      display: flex;
      flex-direction: column; }
      .footer__info h5 {
        text-transform: uppercase;
        margin-bottom: 1.4rem; }
      .footer__info a {
        line-height: 2.4rem; }
    .footer__address {
      margin-bottom: 4.7rem; }
      .footer__address p {
        font-size: 1.4rem; }
    .footer__contact a {
      font-weight: 400; }
    .footer__cta {
      display: none; }
    .footer__bottom {
      display: none; }
    .footer .copyright-mobile {
      font-size: 1.4rem; } }

@media (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 6rem; }
    .footer .copyright-mobile {
      display: none; }
    .footer .desktop__logo .social-icons {
      display: block; }
    .footer > .social-icons {
      display: none; }
    .footer__cta {
      display: flex; }
    .footer__bottom {
      display: flex; } }

@media (min-width: 1280px) {
  .footer {
    padding: 9rem 15rem;
    padding-bottom: 0; } }

@media (min-width: 320px) {
  .credentials {
    display: none;
    padding: 0 3rem; } }

@media (min-width: 1024px) {
  .credentials {
    color: white;
    background: #f61933;
    display: flex;
    padding-bottom: 4rem;
    justify-content: space-between;
    margin-top: -1px; }
    .credentials p, .credentials a {
      font-size: 1.2rem; }
    .credentials .policy {
      display: flex; }
      .credentials .policy li a {
        font-weight: 400; }
      .credentials .policy li:not(:last-child) {
        margin-right: 1.9rem; } }

@media (min-width: 1280px) {
  .credentials {
    padding: 4rem 15rem 9rem; } }

@media (min-width: 320px) {
  .wwd {
    margin-top: 4.4rem;
    margin-bottom: 9rem; }
    .wwd h2 {
      color: #f61933; }
    .wwd h2, .wwd h3 {
      text-transform: uppercase; }
    .wwd h3 {
      margin-bottom: .7rem; }
    .wwd a {
      font-size: 1.3rem; }
    .wwd__info p {
      margin-bottom: 3rem; }
    .wwd-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(16rem, 1fr));
      grid-auto-rows: 1fr;
      grid-gap: 1.9rem; } }
    @media (min-width: 320px) and (min-width: 768px) {
      .wwd-cards {
        grid-template-columns: repeat(auto-fit, minmax(32%, 1fr)); } }

@media (min-width: 320px) {
    .wwd__cta {
      align-self: flex-start;
      padding-top: 3.16rem; }
      .wwd__cta h3 {
        margin-bottom: 1.6rem; } }

@media (min-width: 1280px) {
  .wwd {
    position: relative;
    margin-top: 0;
    padding-top: 16.4rem; }
    .wwd__info {
      width: 58%;
      margin-left: 12rem;
      margin-bottom: 10rem; }
      .wwd__info p:not(:last-child) {
        margin-bottom: 3rem; }
    .wwd__cta {
      margin-left: 12rem; } }

@media (min-width: 1439px) {
  .wwd {
    padding-bottom: 0; }
    .wwd__info {
      margin-left: 15rem; }
      .wwd__info h3 {
        margin-bottom: 1.41rem; }
    .wwd__cta {
      padding-top: 0; } }

@media (min-width: 320px) {
  .clients {
    display: flex;
    flex-direction: column;
    padding-bottom: 6.7rem; }
    .clients__info {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .clients__info img {
        margin-top: 4rem;
        margin-bottom: 8rem;
        width: 100%; }
    .clients h2 {
      color: #f61933;
      text-transform: uppercase;
      line-height: 3.6rem; }
    .clients__cta h3 {
      text-transform: uppercase;
      margin-bottom: 1.34rem;
      width: 60%; } }

@media (min-width: 1280px) {
  .clients {
    position: relative;
    padding-top: 0;
    padding-bottom: 14.16rem; }
    .clients__info {
      flex-direction: row;
      margin: 0 7.2rem;
      margin-bottom: 8.6rem; }
      .clients__info--text, .clients__info--img {
        padding: 7rem 0; }
      .clients__info--text {
        align-self: flex-start;
        padding-left: 8rem;
        order: 1;
        width: 34%;
        position: relative; }
        .clients__info--text h2 {
          line-height: 4.9rem; }
        .clients__info--text p:not(:last-child) {
          margin-bottom: 3rem; }
        .clients__info--text::before {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: 160px;
          height: 160px;
          border-top: 15px solid #eceff1;
          border-right: 15px solid #eceff1;
          pointer-events: none;
          content: ''; }
      .clients__info--img {
        flex: 1;
        width: 56%;
        position: relative;
        padding: 5.5rem 4rem; }
        .clients__info--img::before {
          position: absolute;
          bottom: 0;
          right: 0;
          display: block;
          width: 160px;
          height: 160px;
          border-bottom: 15px solid #eceff1;
          border-right: 15px solid #eceff1;
          pointer-events: none;
          content: ''; }
        .clients__info--img::after {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 160px;
          height: 160px;
          border-top: 15px solid #eceff1;
          border-left: 15px solid #eceff1;
          pointer-events: none;
          content: ''; }
        .clients__info--img span {
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 160px;
          height: 160px;
          border-bottom: 15px solid #eceff1;
          border-left: 15px solid #eceff1;
          pointer-events: none;
          content: ''; }
        .clients__info--img img {
          margin: 0; }
    .clients__cta {
      margin-top: 5rem;
      margin-left: 12rem; }
      .clients__cta h3 {
        width: 100%; } }

@media (min-width: 320px) {
  .team {
    background-color: #eceff1;
    padding-top: 5.96rem;
    padding-bottom: 7rem; }
    .team h2 {
      color: #f61933;
      text-transform: uppercase; }
    .team__info {
      display: flex;
      flex-direction: column; }
      .team__info > p {
        margin-bottom: 4.32rem; }
    .team__cta {
      margin-top: 5.56rem; }
      .team__cta h3 {
        text-transform: uppercase;
        margin-bottom: 1.34rem; } }

@media (min-width: 768px) {
  .team__info {
    width: 70%; } }

@media (min-width: 1280px) {
  .team {
    position: relative;
    padding-top: 16.4rem; }
    .team__info {
      width: 42%;
      margin-left: 12rem;
      margin-bottom: 8rem; }
      .team__info p {
        margin-bottom: 0; }
    .team__cta {
      margin-left: 12rem; }
      .team__cta h3 {
        margin-bottom: 2rem; } }

@media (min-width: 320px) {
  .news {
    display: flex;
    flex-direction: column;
    padding-top: 5.96rem;
    padding-bottom: 11.4rem; }
    .news h2 {
      color: #f61933;
      text-transform: uppercase; }
    .news__items {
      display: flex;
      flex-direction: column; }
    .news__item {
      margin-bottom: 3.82rem; }
      .news__item > span {
        margin-bottom: 1.28rem; }
    .news__images {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(16rem, 1fr));
      grid-gap: 2rem;
      margin-top: .7rem; }
      .news__images img {
        width: 100%;
        height: auto; } }

@media (min-width: 1024px) {
  .news .news__items {
    flex-direction: row; }
  .news .news__item:not(:last-child) {
    margin-right: 6rem; } }

@media (min-width: 1280px) {
  .news {
    position: relative;
    padding-top: 16.4rem;
    flex-direction: column; }
    .news__info {
      margin-bottom: 6.79rem;
      margin-left: 12rem;
      display: flex; }
    .news__heading {
      width: 33%;
      padding: 0 2rem; }
    .news__items {
      align-self: flex-end;
      width: 67%; }
    .news__item {
      margin-bottom: 2.2rem; }
      .news__item span {
        margin-bottom: 2.91rem; }
    .news__images {
      align-self: flex-end;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: unset;
      grid-gap: unset;
      margin-left: unset;
      grid-column-gap: 2rem;
      margin-left: 12rem;
      width: 60%; } }

@media (min-width: 320px) {
  .services-wwd {
    padding: 15.6rem 4.4rem 11.4rem; }
    .services-wwd__info {
      margin-left: 4rem;
      margin-bottom: 7rem;
      transition: all .4s; } }
    @media (min-width: 320px) and (max-width: 424px) {
      .services-wwd__info {
        margin-left: 0; } }

@media (min-width: 320px) {
    .services-wwd .wwd-cards {
      margin-bottom: 6rem; }
    .services-wwd__cta {
      margin-left: 4rem; }
      .services-wwd__cta h3 {
        margin-bottom: 2rem; } }

@media (min-width: 1024px) {
  .services-wwd__info {
    width: 80%; } }

@media (min-width: 1280px) {
  .services-wwd {
    padding: 15rem; }
    .services-wwd__info {
      margin-left: 15rem;
      width: 60%; }
    .services-wwd__cta {
      margin-left: 15rem; } }

@media (min-width: 320px) {
  .service-u {
    padding: 15.6rem 3rem 6rem; }
    .service-u section {
      padding: 0; }
    .service-u h2 {
      text-transform: uppercase; }
    .service-u-wwd__info {
      margin-left: 4rem;
      margin-bottom: 7rem;
      transition: all .4s; } }
    @media (min-width: 320px) and (max-width: 424px) {
      .service-u-wwd__info {
        margin-left: 0; } }

@media (min-width: 320px) {
    .service-u__cta {
      margin-left: 4rem; } }
    @media (min-width: 320px) and (max-width: 424px) {
      .service-u__cta {
        margin-left: 0; } }

@media (min-width: 320px) {
      .service-u__cta p:last-of-type {
        margin-bottom: 4.4rem; }
    .service-u__intro {
      margin-bottom: 4.4rem; }
      .service-u__intro--main img {
        width: 100%; }
      .service-u__intro--minor {
        display: none; }
    .service-u__clients--cta {
      margin-left: 4rem; } }
    @media (min-width: 320px) and (max-width: 424px) {
      .service-u__clients--cta {
        margin-left: 0; } }

@media (min-width: 320px) {
    .service-u__quote {
      margin-bottom: 4.4rem; }
      .service-u__quote h4 {
        margin-bottom: 0; }
    .service-u__clients {
      padding: 0 3rem;
      margin-bottom: 6rem; }
      .service-u__clients--cta h3 {
        margin-bottom: 1rem; } }

@media (min-width: 768px) {
  .service-u-wwd__info {
    width: 80%; } }

@media (min-width: 1024px) {
  .service-u, .service-u__quote, .service-u__clients {
    padding-left: 6rem;
    padding-right: 6rem; }
  .service-u__cases {
    margin-bottom: 4.4rem; } }

@media (min-width: 1280px) {
  .service-u {
    margin-bottom: 11rem;
    padding-bottom: 0; }
    .service-u, .service-u__quote, .service-u__clients {
      padding-left: 10rem;
      padding-right: 10rem; }
    .service-u-wwd {
      padding: 15rem; }
      .service-u-wwd__info {
        margin-left: 15rem;
        width: 60%; }
    .service-u__clients--cta {
      margin-left: 15rem; }
    .service-u__intro {
      display: grid;
      grid-template-columns: repeat(6, minmax(18rem, 1fr));
      grid-template-rows: repeat(3, minmax(17rem, 1fr)); }
      .service-u__intro--main {
        grid-column: 1 / 5;
        grid-row: 1 / 3; }
        .service-u__intro--main img {
          width: 100%;
          height: 100%; }
      .service-u__intro--minor {
        grid-column: 5 / -1;
        grid-row: 3 / 4;
        display: flex;
        flex-direction: row; }
        .service-u__intro--minor--2 {
          position: relative; }
    .service-u__cta {
      margin-left: 15rem;
      margin-top: -8rem;
      width: 80%; }
      .service-u__cta h2 {
        width: 50%; }
    .service-u__cases {
      margin-bottom: 6rem; }
    .service-u__clients {
      margin-bottom: 12rem; } }
