.top-line{
    position: relative;
    
    &::before{
        content: "";
        position: absolute;
        left: 2.5%;
        top: -1.5rem;
        z-index: -1;
        width: 95%;

        border-top: 5rem solid #e3e4af;
    }
}