/* START OF COLORS */ 

$color-white: rgb(255, 255, 255);
$color-black: rgb(0,0,0);
$color-grey: rgb(112,112,112);

/* END OF COLORS*/

/* START OF GUTTERS */
$gutter-vertical-smallest: 2.3rem;
$gutter-vertical-small: 4.5rem;
$gutter-vertical-medium: 9.6rem;
$gutter-vertical-big: 22.4rem;
$gutter-vertical-big-2: 24.2rem;

$gutter-horizontal-smallest: 2.3rem;
$gutter-horizontal-small: 5.8rem;
$gutter-horizontal-medium: 14rem;
$gutter-horizontal-big: 23.5rem;
$gutter-horizontal-biggest: 27.3rem;


$grid: 136.6rem;
    