$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485 ;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white : #fff;
$color-grey: #777;
$color-grey-dark: #999; 
$color-grey-dark-1: #333    ; 
$color-black: #000;

// GRID
$grid-width: 140rem;
$gutter-vertical: 3.5rem;
$gutter-vertical-small: 1.5rem;
$gutter-horizontal: 15rem;
$gutter-horizontal-small: 4.6rem;

$border-radius-medium: 3px;
$default-font-size: 1.9rem;
$default-font-family: 'font-family: "Filson Pro"';