/* 
    RESET
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  overflow: hidden;
}
a{
    text-decoration: none;
}

/* 
    VARIABLES
*/

:root{
    --color-blue: #29bcd4;
    --color-yellow: #e0da2b;
    --color-green: #7ef162;
    --color-grey: #808080;
    --color-grey-light:#e6e4e4;
    --color-purple: #bf3081;
    --color-link: #1118d6;
    --color-icon: rgb(150,162,164);
    --padding-vertical: 12rem;
    --padding-vertical--small: 6rem;
    --padding-horizontal: 7.3rem;
    --padding-horizontal--small: 3rem;
}

/* 
    FONT-FAMILY
*/

@font-face {
    font-family: 'Seguibl';
    src: url('../font/seguibl.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('../font/seguibl.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'Segui';
    src: url('../font/SEGOEUI.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'Seguisb';
    src: url('../font/SegoeUI-SemiBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'Seguil';
    src: url('../font/SegoeUI-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* 
    BASE
*/


html{
    font-size: 62.5%; /* 1rem = 10px; 10px/16px=62.5% */
}

/* 
    TYPOGRAPHY
*/

h1{
    color: #000000;
    font-size: 8rem;
    line-height: 10rem;
    font-family: 'Seguibl', sans-serif;
    font-weight: 900;
    margin-bottom: 0rem;
}

h2{
    font-size: 5rem;
    line-height: 7.1rem;
    font-family: "Seguibl";
    margin-bottom: 5.7rem;
    text-align: center;
}

p{
    color: #000000;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Segui', sans-serif;
    line-height: 3.5rem;
}

p.paragraph--bold{
    font-weight: 600;
}

a{
    color: var(--color-link);
}

/* 
    BUTTON
*/

.button{
    display: flex;
    align-items: center;
    background-color: var(--color-purple);
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    border-radius: 100px;
    padding: 24px 0;
    width: 33rem;
    outline: none;
    transition: all .2s;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
    border: none;
}

.button:hover{
    cursor: pointer;
    transform: translateY(-3px);
}

.button:focus{
    transform: translateY(0);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}

/* FORM */

form{
    display: flex;
    flex-direction: column;
}

input, textarea{
    background-color: var(--color-grey-light);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2.5rem;
    padding: 2.4rem 0 2.1rem 2.4rem;
    outline: none;
    border: none;
}

input::placeholder, textarea::placeholder{
    font-size: inherit;
}

input:not(:last-child){
    margin-right: 7.5rem;
}

input{
    border-bottom: 3px solid transparent;
}

input.invalid{
    transition: all 1s;
    border-bottom: 3px solid var(--color-purple);
}

textarea{
    height: 29.4rem;
    margin-bottom: 6rem;
    resize: none;
}

/* 
    #main 
*/

#main{
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* 
    sections & articles & footer
*/

section{
    display: flex;
    flex-direction: column;
}

article{
    padding: var(--padding-vertical) var(--padding-horizontal) 0;
    height: 100vh;
}

footer{
    background-color: var(--color-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p{
    font-size: 2rem;
}
/* 
    SECTION .cta 
*/

.cta{
    flex: 1 0 37%;
    padding: var(--padding-vertical) var(--padding-horizontal) 0;    
}

.cta__socials{
    margin: 6.8rem 0;
}

/* .cta__socials--svg */

.cta__socials svg{
    width: 6rem;
    height: 6rem;
    fill: var(--color-icon);
    transition: transform .2s;
}

.cta__socials a svg:hover{
    transform: translateY(-.2rem);
}

.cta__socials img{
    width: 60px;
    height: 48px;
}

.cta__socials a:not(:last-child){
    margin-right: 6rem;
}

.cta__socials--letter svg{
    transform: scale(1.4) !important;
}

.cta__socials--letter svg:hover{
    transform: scale(1.4) translateY(-.2rem)  !important;
}

/* 
    SECTION .projects 
*/

.projects{
    flex: 1 0 63%;
    flex-shrink: 0;
}

.projects__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-blue);
    padding-bottom: 4.8rem;
}


.projects p{
    color: #fff;
}
/* 
.projects__name{
    margin-bottom: 13rem;
} */

.projects__image{
    width: 33%;
    align-self: center;
    /* margin-bottom: 9rem; */
}

.projects__image img{
    width: 100%;
    height: auto;
}

.projects__type--light{
    font-family: 'Seguil', sans-serif;
}

.projects__type--bold{
    font-family: 'Seguisb', sans-serif;
}

/* 
    ARTICLES of .projects--items specific css
*/

.projects__item-2{
    background-color: var(--color-yellow);
}

.projects__item-3 {
    background-color: var(--color-green);
    padding-bottom: 13.1rem;
}

.projects__item-3 .projects__image{
    width: 100%;
}

/* CONTACT-US */

.popup{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.contact-us{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #fff;
    border-radius: 20px;
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    width: 94rem;
    padding: 6.8rem;
    transition: all .5s;
}

/* Class to set or unset visibility of contact-us form */

.open{
    visibility: visible !important;
    opacity: 1 !important;
    display: block !important;
    transition: all 1s;
}

.hidden{
    visibility: hidden !important;
    opacity: 0 !important;
    display: none !important;
    transition: all .5s;
}

.contact-us input{
    flex: 1;
}

.contact-us__user{
    display: flex;
    margin-bottom: 4.2rem;
}

.contact-us__buttons-area{
    max-height: 6rem;
}

.contact-us__button{
    width: 100%;
    padding: 15px 0;
    line-height: 3.6rem;
    background-image: linear-gradient(120deg, var(--color-green), var(--color-green) 50%, transparent 0% 50%);
    background-size: 220%;
    background-position: 100%;
    transform-origin: left;
}

.contact-us__button--success{
    box-shadow: none;
    transition: all 2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    background-position: 0%;
}


.contact-us__button--success:hover, .contact-us__button--success:focus{
    transform: none;
    box-shadow: none;
}

/* RESPONSIVE VIEW */

.mobile-cta{
    display: none;
}


@media only screen and (max-width: 90em){ /* 1440px */
    html{   
        font-size: 50%; /* 1rem = 8px, 8/16=50% */
    }

    article{
        padding: var(--padding-vertical--small) var(--padding-horizontal) 0;
    }

    .cta{
        flex: 1 0 37%;
        padding: var(--padding-vertical--small) var(--padding-horizontal) 0;    
    }

    .projects__name {
        margin-bottom: 6rem;
    }
    
    footer{
        height: 8.3rem;
    }
}

@media only screen and (max-width: 68.75em){ /* 1100px */
    .cta{
        padding: var(--padding-vertical--small) var(--padding-horizontal--small) 0 !important;
    }

    article{
        padding-left: var(--padding-horizontal--small) !important;
        padding-right: var(--padding-horizontal--small) !important;
    }

    .projects__item-3 .projects__image {
        width: 90%;
    }
}

@media only screen and (max-width: 62.5em){ /* 1000px */
    #main{
        flex-direction: column;
        height: unset !important;
    }
    
    .cta{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: var(--padding-vertical--small);
    }

    body{
        overflow: scroll;
    }
}

@media only screen and (max-width: 56.25em){ /* 900px */
    html{
        font-size: 50%; /* 1rem=8px, 8/16=50% */
    }

    h1{
        /* margin-bottom: 4rem; */
        line-height: 7rem;
    }

    h2{
        margin-bottom: 2rem;
    }

    article{
        padding-top: 3.8rem !important;
        padding-bottom: 3.8rem !important;
    }

    .projects__item-3{
        padding-bottom: 11.8rem !important;
    }

    .projects__image{
        margin-bottom: 3rem;
    }

    .contact-us__user, textarea{
        margin-bottom: 3rem;
    }

   .contact-us{
       width: 90%;
       margin: 2rem 0;
       padding: 4rem;
   }

   .contact-us__user{
       flex-direction: column;
   }

    input:not(:last-child){
        margin-right: 0rem;
        margin-bottom: 1rem;
    }

    .button{
        padding: 15px 0;
    }

    .contact-us__button {
        padding: 10px 0;
    }

    .cta__socials{
        margin: 4rem 0;
    }

    .cta__socials svg{
        width: 5rem;
        height: 5rem;
    }
   
}

@media only screen and (max-width: 37.5em){ /* 600px */
    html{
        font-size: 37.5%; /* 1rem=6px, 6/16=37.5% */
    }
}

@media only screen and (max-width: 29.25em){ /* 468px */
    textarea{
        height: 10rem;
        max-height: 12rem;
        padding-bottom: 0;
    }

    .contact-us{
        margin-bottom: 2rem;
    }
}


@media only screen and (min-width: 112.5em ) and (min-height: 62.5em){ /* 1800px & 1000px height*/
    html{
        font-size: 75%;  /* 1rem = 12px, 12/16=75% */
    }

    article{
        padding: var(--padding-vertical--small) var(--padding-horizontal) 0;
    }

    .cta{
        flex: 1 0 37%;
        padding: var(--padding-vertical--small) var(--padding-horizontal) 0;    
    }

    footer{
        height: 8.3rem;
    }

}

@media only screen and (max-height: 65.63em) { /* height less then a 1050px */
    footer{
        height: 8.3rem;
    }
}

/* Animation */

.text-animation{
    margin-bottom: 4.8rem;
    height: 100px;
    overflow: hidden;
}

.text-animation__transform{
    height: 100px;
    animation: 5s infinite textanimation;
    white-space: nowrap;
}

.text-animation h1{
    font-size: 80px;
    line-height: 100px;
}


@media only screen and (max-width: 62.5em){ /* 1000px */
    h1{
        font-size: 80px;
        line-height: 100px;
    }
}

@media only screen and (max-width: 37.5em){ /* 600px */
    h1{
        font-size: 60px !important;
        line-height: 80px !important;
    }

    .text-animation{
        margin-bottom: 4.8rem;
        height: 80px;
        overflow: hidden;
    }
    
    .text-animation__transform{
        height: 80px;
        animation: 5s infinite textanimationMobile;
        white-space: nowrap;
    }
}

@keyframes textanimation{
    0%{
        transform: translateY(-200px);
    }

    5%{
        transform: translateY(-100px);
    }

    33%{
        transform: translateY(-100px);
    }

    38%{
        transform: translateY(0);
    }

    66%{
        transform: translateY(0);
    }

    71%{
        transform: translateY(-200px);
    }

    99.99%{
        transform: translateY(-200px);
    }

    100%{
        transform: translateY(-200px);
    }
}

@keyframes textanimationMobile{
    0%{
        transform: translateY(-160px);
    }

    5%{
        transform: translateY(-80px);
    }

    33%{
        transform: translateY(-80px);
    }

    38%{
        transform: translateY(0);
    }

    66%{
        transform: translateY(0);
    }

    71%{
        transform: translateY(-160px);
    }

    99.99%{
        transform: translateY(-160px);
    }

    100%{
        transform: translateY(-160px);
    }
}