/* start of reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}
span{
    display: inline-block;
}
*, 
*::after, 
*::before{
    box-sizing: border-box;
}
/* end of reset */


html{
    font-size: 62.5%; // 1rem = 10px; 10px/16px=62.5%
    scroll-behavior: smooth;
        
    @include breakpoint(mobile){ // width <= 900 ?
        font-size: 50%; // 1rem=8px, 8/16=50%
    }

    @include breakpoint(tablet){ // width <= 1200 ?
        font-size: 56.25%;  //1rem = 9px, 9/16=56.25%
    }

    @include breakpoint(desktop-wide){
        font-size: 80%; // 1rem = 12px, 12/16=75%
    }
}

/*
    Initializing Fonts
*/

@font-face {
    font-family: 'Canela Web';
    src: url('../fonts/Canela-Regular-Web.woff2') format('woff2'),
    url('../fonts/Canela-Regular-Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'basis-grotesque-light';
    src: url('../fonts/basis-grotesque-light.eot');
    src: url('../fonts/basis-grotesque-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basis-grotesque-light.woff') format('woff'),
         url('../fonts/basis-grotesque-light.woff2') format('woff2'),
         url('../fonts/basis-grotesque-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'basis-grotesque-regular';
    src: url('../fonts/basis-grotesque-regular.eot');
    src: url('../fonts/basis-grotesque-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basis-grotesque-regular.woff') format('woff'),
         url('../fonts/basis-grotesque-regular.woff2') format('woff2'),
         url('../fonts/basis-grotesque-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'basis-grotesque-medium';
    src: url('../fonts/basis-grotesque-medium.eot');
    src: url('../fonts/basis-grotesque-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basis-grotesque-medium.woff') format('woff'),
         url('../fonts/basis-grotesque-medium.woff2') format('woff2'),
         url('../fonts/basis-grotesque-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'basis-grotesque-off-white';
    src: url('../fonts/basis-grotesque-off-white.eot');
    src: url('../fonts/basis-grotesque-off-white.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basis-grotesque-off-white.woff') format('woff'),
         url('../fonts/basis-grotesque-off-white.woff2') format('woff2'),
         url('../fonts/basis-grotesque-off-white.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* End of font Initialization fonts*/
