/*
    COLORS
*/

$color-primary: #ffa328;
$color-secondary: #ebfaff; 
$color-tertiary: #120bb0;

$color-white: #ffffff;
$color-black: #000;

$color-grey-dark: #999; 
$color-grey-dark-1: #333; 

/*
    SHADOWS
*/

$shadow-dark-medium: 0 2rem 6rem rgba(0, 0, 0, .3);
$shadow-dark-small: 0 1rem 3rem rgba(0, 0, 0, .3);
$shadow-light-medium: 0 2rem 4rem rgba(255,255,255, .1);
$shadow-light-small: 0 1rem 2rem rgba(255,255,255, .05);
$line: 1px solid var(--color-grey-light-2);

/*
    BreakPoints
*/

$bp-largest : 75em;
$bp-large : 68.75em;
$bp-medium: 56.25em;
$bp-small: 37em;
$bp-smallest: 31.25em;

$default-font-size: 1.6rem;

*{
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit
}

.btn{
    border: none;
    outline: none;

    &:hover{
        cursor: pointer;    
    }
}

html{
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: $bp-large){
        font-size: 50%;
    }
}

body{ 
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
}

///////////////////////////////////
//HEADINGS

h1{
    color: $color-white;
    font-size: 2.9rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

h3{
    color: $color-black;
    font-size: 2.3rem;
    font-weight: 600;
}

h4{
    font-size: 1.7rem;
    font-weight: 600;
    color: $color-primary;
    text-transform: uppercase;
}


///////////////////////////////////
//PARAGRAPHS
p, p.paragraph{
    font-size: $default-font-size;
    letter-spacing: 1.1px;  
}


///////////////////////////////////
//LINKS
li{
    color: $color-primary;
    font-weight: 500;
    list-style: none;
    font-size: 1.4rem;
}

///////////////////////////////////
//IFRAME
video{
    height: 30rem;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
}
