///////////////////////////////////
//LOGO

.logo{
    height: 8.5rem;
    margin-right: auto;
}

///////////////////////////////////
//BUTTONS   

.btn{
    color: $color-white;
    padding: 1.2rem;
    background-color: transparent;
    border-radius: 5px;
    font-size: $default-font-size;
    transition: all .2s;
    box-shadow: $shadow-dark-medium;

    &:not(:last-child){
        margin-right: 2rem;
    }

    &-white{
        border: 1px solid $color-white;

        &:hover{
            background-color: $color-white;
            color: $color-tertiary;
            box-shadow: $shadow-light-small;
        }
    }

    &-orange{
        padding: 2rem;
        font-weight: 600;
        background-color: $color-primary;
        box-shadow: $shadow-dark-medium;
        transition: all .2s;

        &:hover{
            box-shadow: $shadow-dark-small;
        }

        &:focus{
            box-shadow: $shadow-dark-small;
            transform: translateY(.2rem);
        }
    }
}

///////////////////////////////////
//CARD

.card{
    position: relative;
    padding: .5rem 0 .5rem 1.5rem;
    border-left: 0.2rem solid lighten($color-tertiary, 40%);
    font-family: inherit;
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 300;
    letter-spacing: 1.2px;
    background-color: #F8F8F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

//   &:before, &:after {
//       content: '';
//       font-family: 'Sanchez';
//       color: lighten($color-black, 40%);
//    }
//    &:after {
//       content: '';
//    }

    &:not(:last-child){
        margin-bottom: 3rem;    
    }

    &:nth-child(3){
        margin-left: 2rem;
        margin-right: -2rem;
    }

}