///////////////////////////////////
//CONTAINER

.container{
    max-width: 120rem;
    margin: 8rem auto;

    min-height: 50rem;

    @media only screen and (max-width: $bp-largest){
        margin: 0;

        width: 100%;
        max-width: 100%;
    }
}

///////////////////////////////////
//HEADER
.header{
    min-height: 70rem;
    background-image: url(../images/banner.png);
    background-size: 100% 100%;
    padding: 3rem 8rem;
    
    display: flex;
    flex-direction: column;

    &__top{
        display: flex;
    }

    &__information{
        display: flex;
        padding: 6rem 0;
        color: $color-white;
        align-items: center;

        & > *{
            flex: 1;
        }
    }

    &__text{
        margin-right: 8rem;

        .paragraph{
            margin-bottom: 2rem; 
        }

        .btn{
            text-transform: uppercase;
        }
    }
    
    &__video-container{
        overflow: hidden;
        border-radius: 50px;
    }
}

///////////////////////////////////
//SECTION-WIN

.section-win{
    display: flex;
    align-items: center;
    @include container;

    & > *{
        flex: 1;
    }

    &__image{
        margin-right: 8rem;
    }

    &__heading{
        margin-bottom: 2rem;
    }

    &__paragraph{
        margin-bottom: 2rem;
    }

    &__list{

        &:not(:last-child){
            margin-bottom: 2rem;
        }

        li{
            list-style-type: disc;
            margin-left: 2rem;
            margin-bottom: 1rem;
        }
    }

    &__btn{
        box-shadow: 0 2rem 4rem rgba(0,0,0, .08);

        &:hover{
            box-shadow: 0 2rem 4rem rgba(0,0,0, .08);
        }

        &:focus{
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, .05);
        }
    }
}

///////////////////////////////////
//SECTION-BOSS

.section-boss{
    display: flex;  
    @include container;

    & > *{
        flex: 1;
    }

    &__text{
        margin-right: 8rem;
    }

    &__heading{
        margin-bottom: 2rem;    
    }
}

///////////////////////////////////
//SECTION-PAIN

.section-pain__wrapper{
    background-image: url(../images/curveImage.png);
    background-size: 100% 100%;
    padding: 20rem 0 10rem 0;
}

.section-pain{
    display: flex;
    @include container;

    & > *{
        flex: 1;
    }

    img{
        width: 80%;
    }

    h3, p.paragraph{
        color: $color-white;
    }

    &__heading{
        margin-bottom: 2rem;
    }

    p.paragraph{
        font-size: 1.5rem;
        letter-spacing: 1.2px;
        line-height: 2.5rem;
        text-shadow: 0 2px 4px rgba(255,255,255,.5);
    }

    p.paragraph:not(:last-child){
        margin-bottom: 2rem;    
    }
}

///////////////////////////////////
//SECTION-GRID

.section-grid{
    display: flex;
    padding: 0 2rem 5rem 8rem;
    align-items: center;

    &>*{
        flex: 1;
    }

    &__text{
        padding-left: 8rem;
        margin-right: 8rem;
        position: relative;
        z-index: 10000;

        &::before{
            content: "";    
            background-image: url(../images/dottedleft.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            position: absolute;
            z-index: -1;
            left: -5rem;
            top: 1rem;
            width: 100px;
            height: 100%;
        }
    }

    &__heading{
        margin-bottom: 2rem;    
    }
}

///////////////////////////////////
//SECTION-FAMILY

.section-family{
    padding: 0 0 16rem 0;
    display: flex;
    justify-content: center;

    &__banner{
        background-color: $color-tertiary-light;
        box-shadow: 0 0 2rem rgba($color-black, .3);
        border-radius: 5px;
        width: 70%;
        padding: 2rem 6rem 4rem 6rem;       

        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__image{  
        margin-bottom: 2rem;
        
        img{
            width: 60%;
            height: auto;
        }
    }

    &__heading{
        margin-bottom: 2rem;
    }

    &__text{
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 1px;    
        margin-bottom: 2rem;
    }

    &__button{

        button{
            padding: 1.2rem 3rem;
            text-transform: uppercase;
            transition: all .2s;
            animation: pulsate 2s infinite; 
        }
    }
}

///////////////////////////////////
//FOOTER

.footer{
    background-image: url(../images/footer.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 19rem 5rem 0 0;
    height: 58rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__wrapper, &__copyright{
        display: flex;
        width: 60%;
        margin: 0 auto;
    }

    &__wrapper{
        padding-top: 8rem;
        margin-top: 8rem;
        margin-bottom: 4rem;
    }

    &__logo{
        margin-right: auto;
        margin-top: -10rem;

        img{
            width: 70%;
        }
    }

    &__heading{
        font-size: 2.2rem;
        color: $color-white;
    }

    &__navigation{
        margin-right: 8rem; 
    }

    &__menu{

        a{
            font-size: 1.4rem;
            color: #E0E0E0;     
            line-height: 2.8rem;
            transition: color .2s;
            
            &:hover{
                color: #fff;
            }
        }
    }

    &__updates{
        p{
            font-size: 1.4rem;
            color: #E0E0E0;     
            margin-bottom: 1.5rem;
        }
    }

    &__copyright{
        display: flex;
        width: 60%;
        height: 10rem;
        margin: 0 auto;
        border-top: 1px solid rgba(135,206,250, .2);
        font-size: 1.2rem;
        padding-top: .5rem;

        &-text{
            color: #E0E0E0; 
            line-height: 2.8rem;
            margin-right: auto;
        }   

        a:not(:last-child){
            margin-right: 2rem;
        }
    }

}   