.footer{
    margin-bottom: 8.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: center;

    &__copyright{
        color: #87a0a5;
        font-size: 1.7rem;
        line-height: 3.6rem;
        margin-bottom: 1rem;
        letter-spacing: .32px;
    }

    &-navigation{
        display: flex;

        &__item{
            &:not(:last-child){
                margin-right: 1.5rem;
            }
        }

        &__link{
            color: #627679;
            letter-spacing: .32px;
        }
    }
}