.form{
    &__input{
        border: none;
        border-bottom: 3px solid transparent;
        background-color: rgba($color-white, .5);
        border-radius: $border-radius-medium;
        color: inherit;
        display: block;
        padding: 1.5rem 2rem;
        font-size: 1.5rem;
        font-family: inherit;
        width: 90%;
        transition: all .9s;
    }
}
